{% extends "base.html" %}

{% block main %}
    <div class="presentation">
        <h1>MPSS</h1>
        <h2>Mandela Protocol Security System</h2>
    
        <p>
            Hi, you just acquired a brand new MPSS for your house.
            We are the only security system that can detect alternates
            near to your house.
            Don't worry, we will protect you. 
        </p>
    </div>
    <div class="login_warning">
        <h1>First of all, we need you to login.</h1>
        <a href="/login">Go to login</a>
    </div>

{% endblock %}