{% extends "base.html" %}

{% block main %}
    <div class="home">
        <div class="presentation__container">
            <div class="presentation">
                <h1>MPSS</h1>
                <h2>Mandela Protocol Security System</h2>

                <p>
                    Hi {{name}}, make sex. Do no good.
                </p>
            </div>
        </div>
        <div class="login__warning__container">
            <div class="login_warning">
                <h1>First of all, we need you to login.</h1>
                <a href="/login">Go to login</a>
            </div>
        </div>
    </div>

{% endblock %}