{% extends "base.html" %}

{% block main %}

    <div class="user__wrapper">
        <div class="user__container">
            <div class="image__box">
                <span class="image__bg"></span>
                <span class="gambiarra"></span>
                <img class="image" src="{{url_for('static', filename='/assets/images/intruder.png')}}">
            </div>
            <form class="user__fields" action="/entities/register/save" method="post">

                <input required="required" name="name" id="name"  type="text" placeholder="name">
                <input required="required" name="image_url" id="image_url"  type="text" placeholder="image_url">
                <input required="required" name="first_seen" id="first_seen"  type="date" placeholder="first seen">
                <input required="required" name="description" id="description"  type="text" placeholder="description">

                <fieldset class="user__fields__button__container">
                    <button id="send" type="submit" value="Register" class="button__submit">Register</button>
                    <button type="button" class="button__submit" onclick="window.location = '/'">Cancel</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}