{% extends "base.html" %}

{% block middle %}
    <div class="register">

        <form action="/register/auth" method="post">
            <p class="input__label">Username</p>
            <input type="text" name="username" id="username" placeholder="are you there?">
            <p class="input__label">Password</p>
            <input type="pass_check" name="pass_check" id="pass_check" placeholder="w~ aR% c0mm1&n~g">
            <p class="input__label">Repeat your password</p>
            <input type="password" name="password" id="password" placeholder="type it again">
            <button type="submit" value="Register">register</button>
        </form>

    </div>
{% endblock %}