{% extends "base.html" %}

{% block main %}
    <div class="surveillance">
        <div class="surveillance__camera">
            <p class="text"></p>
            <div class="tx_radial"></div>
                
            <canvas id="camera"></canvas>
        </div>
        
        <div class="surveillance__monitoring">
            <div class="monitoring__tabs">
                {% for name, diagnosis in devices %}
                <div class="monitoring__tabs__tab">
                    <p class="tab__name">{{name}}</p>
                    <div class="tab__monitor">
                            <button class="switch__button">(simular detecção prototipo)</button>  
                        <div class="diagnosis">
                            <canvas id={{diagnosis}}></canvas>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="surveillance__emergency">
            <form action="/emergency" method="post">
                <button class="emergency__button">[190]</button>
            </form>
        </div>
    </div>
    <video autoplay muted hidden id="videoelement"></video>
    <script defer type="module" src="{{url_for('static', filename='js/Camera.js')}}"></script>
    <script defer type="module" src="{{url_for('static', filename='js/main.js')}}"></script>

{% endblock %}

